header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("https://img.olympics.com/images/image/private/t_s_16_9_g_auto/t_s_w1460/f_auto/primary/nntperxu63j4jirbz8ks");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;
}

.icons {
    width: 30px;
    height: 20px;
}

.medals {
    width: 45px;
    height: 45px;
}

.table {
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 80%;

}

th,
td {
    padding: 20px;
    margin: 0auto 0 auto;
    color: aliceblue;

}

.div-table {
    display: flex;
    justify-content: center;
}

.div-image {
    display: flex;
    padding-left: 40px;
}

.div-p {
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    line-height: 30px;
    margin-top: 50px;
    font-size: 25px;
}

.andrade {
    width: 400px;
    height: auto;
}

@media (max-width: 440px) {
    body {
        background-color: rgb(253, 141, 253);
    }
}

@media (max-width: 750px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 760px) {
    body {
        background-color: green;
    }
}